<p style="color: green"><%= notice %></p>

<% content_for :title, "Comments" %>

<div>
  <%= link_to "Back to landing", root_path %>
</div>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="element">
      <%= render comment %>
    </div>
  <% end %>
</div>
